<h1 style="text-align: center;">Product Details</h1>

<table>
  <td>Name:</td>
  <td><%= @product.product_name()%></td>
  </tr>
  <tr>
  <td>Description:</td>
  <td><%= @product.description() %></td>
  </tr>
  <tr>
  <td>Stock:</td>
  <td><%= @product.stock() %> </td>
  </tr>
  <tr>
  <td>Buying Cost</td>
  <td><%= @product.buying_cost() %></td>
  </tr>
  <tr>
  <td width=100 >Selling Price</td>
  <td><%= @product.selling_price() %></td>
  </tr>
</table>

<form action="/inventory/product/<%= @product.id %>/edit" method="get">
  <input type="submit" value="Edit Product">
</form>

<form action="/inventory/product/<%= @product.id %>/delete" method="post">
  <input type="submit" value="Delete Full Product Listing">
</form>
