<h1 style="text-align: center;">Product Details</h1>

<p>Name: <%= @product.product_name()%></p>
<p>Description: <%= @product.description() %></p>
<p>Stock: <%= @product.stock() %> </a></p>
<p>Buying Cost <%= @product.buying_cost() %></p>
<p>Selling Price: <%= @product.selling_price() %></p>

<form action="/inventory/product/<%= @product.id %>/edit" method="get">
  <input type="submit" value="Edit Product">
</form>

<form action="/inventory/product/<%= @product.id %>/delete" method="post">
  <input type="submit" value="Delete Full Product Listing">
</form>
