<h1 style="text-align: center;">Shop Inventory</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Manufacturer</th>
    <th>Stock</th>
    <th>Price</th>
    <th>Stock Status</th>
    <th>Description</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td> <a href="/inventory/product/<%= product.id %>"> <%= product.product_name() %></a></td>
    <td> <a href="/inventory/manufacturer/<%= product.manufacturer().id %>"> <%= product.manufacturer().manufacturer_name() %></td>
    <td><%= product.stock() %></td>
    <td>£<%= product.selling_price %></td>
    <td><%= product.stock_check %></td>
    <td> <%= product.description %></td>
  </tr>
  <% end %>
</table>
