<h1 style="text-align: center;">Manufacturer</h1>

<table>
  <td>Name:</td>
  <td><%= @manufacturer.manufacturer_name()%></td>
  </tr>
  <tr>
  <td>Lead Time:</td>
  <td><%= @manufacturer.lead_time() %> days</td>
  </tr>
  <tr>
  <td>Email:</td>
  <td><%= @manufacturer.email() %> </td>
  </tr>
  <tr>
  <td>Contact Number:</td>
  <td><%= @manufacturer.contact_number() %></td>
  </tr>
</table>


<form action="/inventory/manufacturer/<%= @manufacturer.id %>/edit" method="get">
  <input type="submit" value="Update Manufacturer">
</form>

<form action="/inventory/manufacturer/<%= @manufacturer.id %>/delete" method="post">
  <input type="submit" value="Delete Manufacturer">
</form>
